[submodule "deps/gtest"]
	path = deps/gtest
	url = https://github.com/open-transactions/gtest.git
[submodule "deps/jsoncpp"]
	path = deps/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "deps/fecpp"]
	path = deps/fecpp
	url = git@github.com:yamamushi/fecpp.git
